<md-card class="login-card">
  <md-card-header layout-align-gt-xs="center center">
    <md-card-title>Login</md-card-title>
  </md-card-header>

  <md-card-content>
    <form>
      <div class="button-row">
        <button md-raised-button class="mat-raised-button mat-accent" (click)="login('google')">
          <md-icon svgIcon="google-plus"></md-icon><span>Google</span>
        </button>
      </div>
      <div class="button-row">
        <button md-raised-button class="md-icon-button mat-raised-button mat-accent" (click)="login('facebook')">
          <md-icon svgIcon="facebook"></md-icon><span>Facebook</span>
        </button>
      </div>
      <div class="button-row">
        <button md-raised-button class="mat-raised-button mat-accent" (click)="login('twitter')">
          <md-icon svgIcon="twitter"></md-icon><span>Twitter</span>
        </button>
      </div>
    </form>
  </md-card-content>
</md-card>