<div *ngIf="galleryService.gallery | async as galleryObject">

<md-card class="gallery-card" *ngIf="isLoaded">
  <div *ngIf="galleryObject.images.length">
    <img md-card-image class="current" [attr.src]="galleryObject.images[galleryObject.currIndex].src">

    <md-card-title class="text-center" [innerHtml]="galleryObject.images[galleryObject.currIndex].title"></md-card-title>

    <gallery-nav [galleryObject]="galleryService.gallery"></gallery-nav>

    <md-list class="thumb-list">
      <md-list-item *ngFor="let image of galleryObject.images; let i = index">
        <gallery-item [image]="image" [itemIndex]="i" [currIndex]="galleryObject.currIndex"></gallery-item>
      </md-list-item>
    </md-list>
  </div>

  <md-card-actions>
    <button md-raised-button class="mat-raised-button mat-accent text-upper btn-image-upload" (click)="openModal()">
      Upload new image
    </button>
  </md-card-actions>

  <md-card-footer></md-card-footer>
</md-card>

</div>