.gallery-card {
    width: 800px;
    margin: 0 auto;
}

.gallery-card img.current {
    height: 600px;
}

.thumb-list {
    padding: 0 106px 30px;
    height: 112px;
    display: block;
}
gallery-nav {
    position: relative;
}

md-card-actions {
    height: 50px;
}

.btn-image-upload {
    float: right;
}

.current-thumb-img {
    border: solid 3px #000;
}

.mat-card-title {
    overflow:hidden;
}