.thumb-list-item {
    position: relative;
    display: inline-block;
}
.thumb-list-item img {
    cursor: pointer;
}
.thumb-list-item .edit-img {
    cursor: pointer;
    position: absolute;
    bottom: 8px;
    right: 4px;
    background-color: #fff;
    opacity: 0.7;
    border: solid 1px #000;
    border-radius: 3px;
    display: none;
}

.thumb-list-item:hover .edit-img {
    display: block;
}